asset-template-demo/force-app/main/default/flows/AssetTemplate_Update_Count_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Asset_Template_Populated</name>
        <label>Is Asset Template Populated?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset_Template__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assets_For_Template</targetReference>
            </connector>
            <label>Template Is Populated</label>
        </rules>
    </decisions>
    <description>Updates the Assets_Created_Count__c field on AssetTemplate__c when an Asset is created or updated</description>
    <environments>Default</environments>
    <interviewLabel>AssetTemplate Update Count After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssetTemplate_Update_Count_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Assets_For_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Template_Count</targetReference>
        </connector>
    </assignments>
    <recordLookups>
        <name>Get_Assets_For_Template</name>
        <label>Get Assets For Template</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset_Template__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Created_From_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Template_Count</name>
        <label>Update Template Count</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Asset_Template__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assets_Created_Count__c</field>
            <value>
                <elementReference>varCount</elementReference>
            </value>
        </inputAssignments>
        <object>AssetTemplate__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Asset_Template_Populated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Asset_Template__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_From_Template__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
